.header {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.nav {
    position: fixed;
    width: 100%;
    height: 88px;
    z-index: 999;
}

.main_img {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(1, 1.4);
    z-index: 1;
}

.logo {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    z-index: 3;
    padding-left: 32px;
    padding-top: 11px;
}

.logo a {
    position: relative;
    display: block;
    height: 66px;
}

.logo a img {
    position: relative;
    height: 100%;
}

.products {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    z-index: 3;
    text-align: center;
}

.products a {
    color: #ffffff;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    padding-right: 32px;
    padding-left: 16px;
    line-height: 88px;
}

.utility {
    position: relative;
    float: right;
    max-width: 25%;
    height: 100%;
    z-index: 3;
    margin-right: 68px;
}

.utility a {
    position: relative;
    color: #ffffff;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 88px;
}

.utility li {
    list-style-type: none;
}

.utility svg {
    position: relative;
    margin-right: 5px;
    color: #ffffff;
    top: 3px;
}

.utility svg path {
    fill: #ffffff;
}

.utility svg circle {
    fill: #ffffff;
}
